:root {
    --formal: #000;
}

header{
    z-index: 1000;
    width: 100%;
}

body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(207, 230, 250);
    margin-bottom: 60px;
}
  
*{
    box-sizing: border-box;
}

.nombre{
    width: 400px; 
    text-align: center;
    position: absolute;
    top: 15px;
    letter-spacing: 3px;
    z-index: 99;
    color: white; 
    text-transform: uppercase; 
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
}

.titulo{
    width: 100%;
}
  
.staff{
    display: grid;
    margin: auto; 
    width: 400px;
    grid-column: 2;
    grid-template-rows: 130px minmax(150px, auto);
    margin-bottom: 50px;
    transition: 0.3s;
    margin-top: 30px;
}
  
.staff:hover{
    box-shadow: 0px 0px 13px #666565;
    transition: 0.3s;
}

.background{
    grid-column: 1;
    grid-row: 1;
    background: grey;
    position: relative; 
}

.background > img{
    height: 100%; 
    width: 100%; 
    object-fit: cover;
    object-position: 0px -50px;
}
  

  
.infos{
    width: 135px;
    height: 45px;
    overflow: hidden;
    margin-left: 10px;
    display: flex; 
    flex-wrap: wrap; 
}

.infos span{
    display: block;
    margin: auto 2px;
    padding: 2px 5px 2px 5px; 
    background: red; 
    color: white; 
    font-family: calibri; 
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
}
  
.cuadro{
    width: 120px; 
    position: absolute; 
    right: 0px; 
    top: 150px;
}

.cuadro a{
    font-size: 24px; 
    margin-right: 13px;
    color: red; 
    font-family: 'Bebas Neue';
    text-decoration: none;
}
  
#miembros{
     background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); 
}

#member1  a{
    color: var(--formal);
}

#member2 > span{
    background: var(--formal);
}
  
#membre2{
     background-image: linear-gradient(to bottom, rgba(128,95,65,0), rgba(128,95,65,1));
}

.photo{
    height: 130px;
    width: 130px;
    border-radius: 100px;
    border: #d2d2d2 10px solid;
    overflow: hidden; 
    position: absolute;
    top: 60px;
    left: 135px;
}
  
.photo > img{
    height: 102%; 
    width: 102%; 
    object-fit: cover;
}

.pres{
    grid-column: 1;
    grid-row: 2;
    background: #F4F4F4;
    color: black; 
    font-size: 12px; 
    font-family: 'Century Gothic', sans-serif;
    text-align: justify; 
    padding: 60px 20px 20px 20px;
}
  
.pres p{
    max-height: 100px;
    padding-right: 5px;
    margin: 0;
    overflow: auto;
}

footer{
    z-index: 1000;
}

.login-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#login-button {
    background-color: #0c4568;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

#login-button:hover {
    background-color: #87cefa;
}
