/* Estilos para los botones de acción en la administración de eventos */
.admin-section button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    margin: 10px 5px 20px 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-section button:hover {
    background-color: var(--tertiary);
}

/* Estilos para el formulario de agregar/editar evento */
form#eventForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form#eventForm label {
    font-size: 16px;
    color: var(--secondary);
}

form#eventForm input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    width: 100%;
}

form#eventForm button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--tertiary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

form#eventForm button:hover {
    background-color: var(--secondary);
}

/* Contenedor de la lista de eventos */
#eventList {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila */
    gap: 12px; /* Distancia entre las tarjetas en ambas direcciones */
}

#eventList h2 {
    font-size: 20px;
    color: var(--secondary);
    margin-bottom: 15px;
    white-space: normal; /* Permite que el título ocupe varias líneas */
}

/* Estilos de las tarjetas de eventos */
.event-card {
    display: inline-block; /* Hace que las tarjetas se alineen en una sola fila */
    width: 280px; /* Ancho fijo para las tarjetas */
    padding: 5px;
    margin: 15px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
    cursor: pointer;
    vertical-align: top; /* Alineación superior para todas las tarjetas */
}

.event-card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.event-info h3 {
    font-size: 18px;
    color: var(--tertiary);
    margin-bottom: 5px;
}

.event-info p {
    font-size: 14px;
    color: var(--secondary);
}


.event-info p a {
    font-size: 14px;
    color: var(--secondary);
    text-decoration: none;
}

/* Estilos de la ventana modal para editar evento */
.modal {
    display: none; /* Oculta el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content h2 {
    font-size: 20px;
    color: var(--tertiary);
    margin-bottom: 10px;
}

.modal-content label {
    font-size: 16px;
    color: var(--secondary);
}

.modal-content input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    width: 100%;
}

/* Contenedor de botones alineados en esquinas opuestas */
.modal-content .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Botón de Guardar Cambios */
.button-container .save-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(47, 174, 102);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%; /* Ancho del botón para mejor distribución */
}

.button-container .save-button:hover {
    background-color: rgb(32, 119, 70);
}

/* Botón de Eliminar Evento */
.button-container .delete-button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(157, 9, 9);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%; /* Ancho del botón para mejor distribución */
}

.button-container .delete-button:hover {
    background-color: rgb(123, 14, 4);
}

/* Botón para cerrar la ventana modal */
.modal-close {
    align-self: flex-end;
    font-size: 18px;
    color: var(--secondary);
    cursor: pointer;
    transition: color 0.3s;
}

.modal-close:hover {
    color: var(--primary);
}
