/* Variables de colores */ 
:root {
    --primary: #7bb8de;
    --secondary: #0c4568;
    --tertiary: #cc734a;
}

/* Reset de estilos y fuente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos del cuerpo */
body {
    display: flex;
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    overflow: hidden;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: var(--secondary);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh; /* Asegura que la barra lateral ocupe toda la altura */
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 10px;
    color: var(--primary);
    text-align: center;
}

.sidebar img#logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    align-self: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: var(--tertiary);
    color: #fff;
}

/* Estilos específicos para el enlace de cerrar sesión */
.sidebar a.logout {
    background-color: var(--secondary);
    font-weight: bold;
    color: white;
    margin-top: auto; /* Empuja el enlace hacia el final de la barra lateral */
}

.sidebar a.logout:hover {
    background-color: red;
}

/* Contenedor principal para evitar el solapamiento con la barra lateral */
.main-content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 40px;
    background-color: #f4f7f9;
    display: flex;
    flex-direction: column;
    align-items: center center;
    overflow-y: auto;
}


.welcome-message {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}
